.menu .box-container {
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem
}
.menu .box-container .box {
    background:#fff; 
    border:.1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}
.menu .box-container .box .image {
    width:100%;
    height:25rem;
    padding:1.5rem; 
    overflow:hidden;
    position:relative; 
}
.menu .box-container .box .image img {
    width:100%;
    height:100%;
    border-radius: .5rem;
    object-fit: cover; 
}
.menu .box-container .box .image .fa-heart {
    position:absolute; 
    top:2.5rem; 
    right:2.5rem; 
    width:5rem; 
    height:5rem; 
    border-radius: 50%; 
    background: #fff;
    color:var(--black);
    line-height: 5rem;
    text-align:center;
    font-size:2rem;   
    transition:var(--main-transition);
}
.menu .box-container .box .image .fa-heart:hover {
    background: var(--green);
    color:#fff;
}
.menu .box-container .box .content {
    padding:2rem; 
    padding-top:0;
}
.menu .box-container .box .content .stars {
    padding-bottom:1rem;
}
.menu .box-container .box .content .stars i {
    font-size:1.7rem; 
    color:var(--green);
}
.menu .box-container .box .content h3 {
    font-size:2.5rem; 
    color:var(--black);
}
.menu .box-container .box .content p {
    font-size:1.6rem; 
    color:var(--light-color);
    padding:.5rem 0; 
    line-height: 1.5;
}

.menu .box-container .box .content .price {
    font-size:2.5rem;
    font-weight: bolder;
    color:var(--green);
    margin-left: 1.5rem;

}